* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(182, 182, 182);
}

.title-bar {
    padding: 1em;
    background-color: black;
    color: white;
}

.content {
    background-color: rgb(255, 255, 255);
    padding: 1em; /* dar um jeito desse padding se ajustar sozinho */
    margin: 0 1em;
    min-width: 200px;
}

.footer {
    background-color: black;
    color: white;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: calc(100% - 2em);
}
